@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Merriweather:wght@700&display=swap');
body {
    width: 300px;
    /* background: linear-gradient(135deg, #1A1A1A, #34568B); */
    background: linear-gradient(135deg, #8287e3, #d7cee9);
    font-family: 'Arial', sans-serif;
    text-align: center;
    color: #fff;
    margin: 0;
    padding: 20px;
}

.popup-container {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

h1 {
    font-size: 22px;
    margin-bottom: 10px;
}
.imglogocontainer{
    display: flex;
    justify-content: center;

}
.Stalk{
    font-family: 'Arial Black', sans-serif;
    color: rgb(0, 0, 0);
    font-weight: 700;
    font-size: 2rem;
}

.CF{
    /* font-family: 'Times New Roman', serif; */
    color: #4F74C8; 
    font-weight: 700;
    font-size: 2rem;
}
/* .parabox{
    height: 2rem;
    border-radius: 0.4rem;
    border: 1px solid rgb(185, 185, 185);
    margin-bottom: 0.5rem;
} */
p {
    margin: 0 auto;
    font-size: 14px;
    margin-bottom: 15px;
    color: black;
}
.para1{
    font-weight: 600;
}
.links {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.imglogo{
    height: 40px;
    margin-top: 0.4rem;
    margin-right: 0.2rem;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
    transition: transform 0.2s, background 0.3s;
}

.btn img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.github {
    background: #24292e;
    color: white;
}

.github:hover {
    background: #444d56;
    transform: scale(1.05);
}

.linkedin {
    background: #0077b5;
    color: white;
}

.linkedin:hover {
    background: #005582;
    transform: scale(1.05);
}

footer {
    color: #24292e;
    margin-top: 15px;
    font-size: 12px;
    opacity: 0.8;
}
